@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
    --white: #edeff7;
    --background-secundary: #e1e2be;
    
    --test-color-principal: #ffffff;
    --test-color-principal1: #030abc;
    --test-color-principal2: #ffffff;

    --title-principal-size: 16px;
    --title-secundary-size: 14px;

    --montserrat: "Montserrat", sans-serif;
}
/*menu
.dropdown {
    width: 230px;
    display: inline-block;
    margin-top: -35rem;
    margin-left: -9%;
    position: absolute;
    font-family: 'Inter', sans-serif;
    transition: all 2s; 
      
  }
  .dropdown ul {
      list-style-type: none;
      display: block;
      margin: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      box-shadow: 0 6px 5px -5px #6d14cc00;
      overflow: hidden;
      border-radius: 0 0 8px 8px;
      z-index: 9;
      
  }
  .dropdown a {
    display: block;
    padding: 0 0 0 10px;
    text-decoration: none;
    line-height: 40px;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    background-color: #00000000;
    
  }
  .dropdown li {
    height: 0;
    overflow: hidden;
  }
  .dropdown li:first-child a {
    border-radius: 8px 8px 0 0;
  }
  .dropdown li:last-child a {
    border-radius: 0 0 2px 2px;
  }
  .dropdown li:first-child a::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #00000000;
    margin: -9px 0 0 15px;
  }
  .dropdown .primeiro-item       { background:transparent; color: #ffffff; }
  .dropdown .primeiro-item:hover { background:transparent; color: #909092; }
  .dropdown a:hover, .dropdown.toggle > label:hover, .dropdown.toggle > input:checked ~ label {
    background-color: #00000000;
    color: #909092;
  }
  .dropdown > a:hover::after, .dropdown.toggle > label:hover::after, .dropdown.toggle > input:checked ~ label::after {
    border-top-color: #AAA;
  }
  .dropdown li:first-child a:hover::before {
    border-bottom-color: #00c1ec00;
  }
  .dropdown.hover:hover li, .dropdown.toggle > input:checked ~ ul li {          
    height: auto;
  }
  .dropdown.hover:hover li:first-child, .dropdown.toggle > input:checked ~ ul li:first-child {
    padding-top: 15px;
  }
/*fim do menu*/  
header {
    border-radius: 16px;
    width: 940px;
    margin: 0 auto;
    background-color: transparent;
}


nav {
    width: 940px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: right;
    height: 168px;
}

.logo {
    position: absolute;
    margin-top: 2.5rem;
    width: 300px;
    height: auto;
}

nav ul {
    /* background-color: rgb(71, 55, 55); */
    border-radius: 16px;
    padding: 8px;
}

nav li {
    display: inline;
    padding: 16px;
}

.nav_link{
    color: var(--test-color-principal);
}

nav a {
    text-decoration: none;
    font-size: 24px;
}
nav a:hover {
    color: #6d14cc;
    text-decoration: underline;
}

.banner:hover {
    opacity: 0.6;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-image: url(bg-dark-mode.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    margin: auto;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d14cc;
    padding: 1rem;
    border-radius: 20px 0px 0px 20px;
    box-shadow: #ffffffa8 -30px 20px 90px 1px;
}

.form-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffde;
    padding: 10rem;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 40px 20px 90px 1px #9596a0;
}
p{
    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
    
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6C14CC;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    margin-right: 1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000000;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee;
}

.input-box input:focus-visible {
    outline: 1px solid #0011ff6c;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000b7;
}

.input-box input::placeholder {
    color: #0000005e;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000b6;
}

.send-button button {
    width: 98%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6C14CC;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    
}

.send-button button:hover {
    background-color: #0011ff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.send-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

textarea{
    border-radius: 10px;
    display: flex;
    margin-bottom: 1.1rem;
    margin-right: 1rem;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    box-shadow: 1px 1px 6px #000000;
    font-size: 0.8rem;
    width: 98%;
}
.input-mensage label{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000b7;
    
}
.input-mensage textarea::placeholder {
    color: #0000005e;
}
.input-mensage textarea:hover{
    background-color: #00000000;
}
footer img{
    max-height: 10%;
    width: 150px;
}
footer {
    /* background: rgb(76, 76, 76); */
    text-align: center;
    padding: 40px 0;
}

.copyright {
    font-size: 13px;
    padding-top: 1.25rem;
    color: var(--background-secundary);
    text-align: center;
  }

@media screen and (max-width: 1951px) {
    .input-box{
        width: 98%;
    }    
}

@media screen and (max-width: 1500px) {
    
    .form-image {
        display: none;
    }
    .container {
        height: 50rem;
        width: 50%;
        margin-bottom: 5rem;  
                
    }
    .form {
        width: 100%;
        border-radius: 20px 20px 20px 20px;
    }
    .send-button{
        margin-top: -2rem;
        width: 100%;
    }
    .input-box{
        width: 98%;
    }
    textarea{
        width: 97%;
    }
}

@media screen and (max-width: 1064px) {
    
    body {
        display: inline-block;
    }
    .container {
        width: 80%;
        height: 56rem;
        margin-bottom: 5rem;  
    }
    .input-group {    
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 40rem; 
        flex-wrap: nowrap;
        width: 109%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .input-box {
    margin-left: 5px;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
    .send-button{
        max-width: 5rem;
        display: flex;
        margin-bottom: 5px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    textarea{
        width: 100%;
    }
    h1{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    footer {
        /* background: rgb(76, 76, 76); */
        text-align: center;
        margin-top: 7rem;
    }
    
}

@media screen and (max-width: 440px) {
    .form {
        padding: 0
    }
    .container {
        width: 90%;
        margin-top: -3rem;  
        padding-top: 3rem; 
    }
    .input-group {    
        flex-direction: column;
        z-index: 5;
        padding-right: 2rem;
        max-height: 40rem; 
        flex-wrap: nowrap;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .input-box {
    margin-left: 5px;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
    .send-button{
        max-width: 5rem;
        display: flex;
        margin-bottom: 5px;
        margin-left: 1.1rem;
        margin-right: 1rem;
        margin-top: -3rem;
    }
    textarea{
        width: 100%;
        height: 50%;
    }
    h1{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: -2rem;
    }
    
    footer {
        /* background: rgb(76, 76, 76); */
        text-align: center;
        margin-bottom: 16px;
        padding: 0;
    }
    header{
        margin-top: 2rem;
    }
    body{ 
        display: block;
    }
    header, .nav {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    .logo {
        position: static;
        width: 60%;
        margin: 0px 0px 1rem 0px;
    }

    nav {
        height: auto;
        margin-top: 1rem;
        display: inline;
        
    }
    nav a{
        font-size: 18px;
    }
       
    nav ul {
        display: flex;
        justify-content: space-around;
        padding: 0 0 4px 0;
    }
    nav li {
        display: inline;
        padding: 2px;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
}
